{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        СМК по требованию ЕАЭС
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">СМК</a></li>
                    <li class="breadcrumb-item"><a href="#">По требованию ЕАЭС</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-12">

            <div class="img-container">
                <img src="{% static 'img/clocks.jpg' %}" class="resize-img">
            </div>
            <p class="col-12 text_other_page">
                <span class="bold_text">15 марта 2018 года вступили в силу</span> Требования к внедрению, поддержанию и
                оценке системы менеджмента
                качества медицинских изделий в зависимости от потенциального риска их применения (Решение Совета
                Евразийской Экономической Комиссии №106 от 10.11.2017)
            </p>
            <table class="smk-table" border="1">
                <tr>
                    <th>Класс потенциального <span class="bold_text">риска</span> применения медицинского изделия</th>
                    <th><span class="bold_text">Внедрение системы менеджмента качества до</span> начала регистрации</th>
                    <th>Примечание</th>
                </tr>
                <tr>
                    <td>3</td>
                    <td><span class="bold_text red-subtitle">ОБЯЗАННОСТЬ</span><br> производителя</td>
                    <td>Включая процессы проектирования и разработки</td>
                </tr>
                <tr>
                    <td>2б</td>
                    <td rowspan="2"><span class="bold_text red-subtitle">ОБЯЗАННОСТЬ</span><br> производителя</td>
                    <td rowspan="2">За исключением процессов проектирования и разработки</td>
                </tr>
                <tr>
                    <td>2а стерильные</td>
                </tr>
                <tr>
                    <td>2а нестирильные</td>
                    <td rowspan="2">ПРАВО производителя</td>
                    <td rowspan="2">При внедрении - внесении изменений в регистрационное досье в уведомительном порядке - без
                        экспертизы безопасности, качества и эффективности
                    </td>
                </tr>
                <tr>
                    <td>1</td>
                </tr>
            </table>
            <p class="col-12 text_other_page text-center">
                Для внедрения системы менеджмента качества медицинских изделий
                <span class="red-subtitle bold_text">производитель медицинских изделий обязан:</span>
            </p>
            <ul class="list-none">
                <li>а) разработать документированные требования к управлению рисками на всех этапах жизненного цикла
                    медицинских изделий;
                </li>
                <li>б) определить процессы, необходимые для результативного функционирования системы менеджмента
                    качества медицинских изделий (далее – процессы), и применение процессов в организации –
                    производителе медицинских изделий;
                </li>
                <li>в) определить последовательность и взаимосвязь процессов;</li>
                <li>г) определить критерии и методы, необходимые для обеспечения результативности, как при осуществлении
                    процессов, так и при управлении процессами;
                </li>
                <li>д) обеспечивать наличие условий производства, ресурсов и информации, необходимых для поддержания
                    процессов и осуществления мониторинга процессов;
                </li>
                <li>е) осуществлять мониторинг, измерение (где применимо) и анализ процессов;</li>
                <li>ж) принимать меры, необходимые для достижения запланированных результатов и поддержания
                    результативности процессов.
                </li>
            </ul>
            <img src="{% static 'img/foto-2.jpg' %}" class="resize-img">
            <p class="col-12 text_other_page text-center">
                Производители медицинских изделий, внедрившие систему менеджмента качества медицинских изделий, должны
                <span class="bold_text">поддерживать ее в <span class="red-subtitle">актуальном</span> состоянии и обеспечивать ее
                <span class="red-subtitle">результативность.</span></span>
            </p>
            <p class="col-12 text_other_page">
                <span class="bold_text">С 15 марта 2019 года</span> оценку системы менеджмента качества медицинских
                изделий будут проводить
                <span class="bold_text red-subtitle">инспектирующие организации </span>в форме инспектирования
                производства.
                <span class="bold_text">Инспектирование:</span>
            </p>
            <ul class="list-dash">
                <li>первичное;</li>
                <li>периодическое (плановое);</li>
                <li>внеплановое.</li>
            </ul>
            <img src="{% static 'img/certification-cover.jpg' %}" class="resize-img">
            <p class="col-12 text_other_page bold_text">
                Отчеты о результатах проведения инспектирования производства направляются инспектирующей организацией в
                уполномоченный орган для включения в <span class="red-number">регистрационное досье.</span>
            </p>
            {% include 'make-offer.html' %}
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>
