{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        СМК по требованиям ISO / ИСО
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    
                    <li class="breadcrumb-item"><a href="#">По требованию ISO / ИСО</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-12">

            <p class="col-12 text_other_page">
                Наша компания имеет право осуществлять оценку и сертификацию производства на предмет соответствия требованиям
                ИСО 13485, 9001, 14001, 22716, ОХCАС, ХАССП, согласно с Международной системе добровольной
                сертификации производства медицинских изделий, биологически активных добавок и косметических средств.
            </p>
            <p class="col-12 text_other_page">Оценка осуществляется с выездом на производство.</p>
        </div>
        <p class="col-12 text-center red-subtitle bold_text" style="font-size: 19px;">Этапы выполнения работ</p>
        <div class="col-12 text-center">
            <div class="col-12 wraper_scrolling">
                <div class="scrolling_div text-center">
                    <img src="{% static  'img/smk.svg'%}" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>
