{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Косметические средства
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Косметические средства</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/006.png' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="#"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">РЕГИСТРАЦИЯ</a>
                </li>
                <hr>
                <li>
                    <a href="#"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">ДЕКЛАРИРОВАНИЕ</a>
                </li>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                Парфюмерно-косметические средства – это вещества (или смеси веществ), наносимые на внешний покров
                человека с целью личной гигиены, профилактики кожных заболеваний, улучшения внешности человека, придания
                приятного запаха и ухода.
            </p>
            <p class="col-12 text_other_page">
                Парфюмерно-косметическая продукция подлежит санитарно-эпидемиологическому надзору (контролю) и
                обязательной государственной регистрации согласно Единому перечню товаров и Федеральному закону РФ
                №52-ФЗ «О санитарно-эпидемиологическом благополучии населения» от 30 марта 1999 г.
            </p>
            <p class="col-12 text_other_page bold_text">Перечень парфюмерно-косметической продукции, подлежащей
                государственной регистрации:</p>
            <ul class="list-dash">
                <li>Парфюмерно-косметическая продукция для искусственного загара</li>
                <li>Парфюмерно-косметическая продукция для отбеливания (осветления) кожи</li>
                <li>Косметика для нанесения татуажа</li>
                <li>Парфюмерно-косметическая продукция индивидуальной защиты кожи от воздействия вредных
                    производственных факторов
                </li>
                <li>Детская косметика (предназначена для детей в возрасте до 14 лет)</li>
                <li>Парфюмерно-косметическая продукция для химического окрашивания, осветления и мелирования волос</li>
                <li>Парфюмерно-косметическая продукция для химической завивки и распрямления волос</li>
                <li>Парфюмерно-косметическая продукция, произведенная с использованием наноматериалов</li>
                <li>Парфюмерно-косметическая продукция для депиляции</li>
                <li>Пилинги</li>
                <li>Фторсодержащие средства гигиены полости рта, массовая доля фторидов в которых превышает 0,15% (для
                    жидких средств гигиены полости рта – 0,05%)
                </li>
                <li>
                    Средства для отбеливания зубов, содержащие перекись водорода или другие компоненты, выделяющие
                    перекись водорода, включая перекись карбамида и перекись цинка, с концентрацией перекиси водорода (в
                    качестве ингредиента или выделяемой) 0,1% — 6,0%.
                </li>
            </ul>
            <p class="col-12 text_other_page">Выдача свидетельства о государственной регистрации косметических средств
                осуществляется Федеральной службой Роспотребнадзора.
            </p>
            <p class="col-12 text_other_page">Благодаря накопленному опыту, мы знаем об определенных нюансах, которые
                могут возникнуть в процессе оформления документации в регистрирующих органах и затормозить весь процесс.
                Оформите заявку на услугу «под ключ» используя форму ниже.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text_other_page bold_text">Перечень парфюмерно-косметической продукции, подлежащей
                декларированию</p>
            <ul class="list-dash">
                <li>Масла косметические</li>
                <li>Духи</li>
                <li>Туалетная вода</li>
                <li>Изделия косметические для макияжа губ</li>
                <li>Изделия косметические для макияжа глаз</li>
                <li>Изделия косметические для маникюра или педикюра</li>
                <li>Пудра, включая компактную</li>
                <li>Косметические изделия для ухода за кожей тела, лица, рук, ног, включая изделия против загара или для
                    загара, прочие
                </li>
                <li>Шампуни</li>
                <li>Лаки для волос</li>
                <li>Лосьоны для волос</li>
                <li>Изделия косметические для волос</li>
                <li>Изделия косметические для чистки зубов</li>
                <li>Изделия косметические, используемые до, во время или после бритья</li>
                <li>Дезодоранты и антиперспиранты индивидуального назначения</li>
                <li>Ароматизированные соли и прочие изделия для принятия ванн</li>
                <li>Мыло туалетное</li>
                <li>Изделия косметические гигиенические моющие, содержащие поверхностно-активные вещества и (или) мыло
                </li>
            </ul>
            <p class="col-12 text_other_page">
                Компания «ДЛН» оказывает полный спектр услуг по декларированию Вашей продукции – от подготовки и сбора
                документации для прохождения лабораторных исследований до получения положительного решения и регистрации
                Декларации.
            </p>

            {% include 'make-offer.html' %}

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
</html>