{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Декларирование и сертификация
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Декларирование и сертификация</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/020.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li class="red-subtitle bold_text">
                    <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                    ДЕКЛАРИРОВАНИЕ:
                    <ul class="list-dash">
                        <li><a href="medicinskie-izdeliya">Медицинские изделия</a></li>
                        <li><a href="cosmeticheskie-sredstva">Косметические средства</a></li>
                        <li><a href="pishhevye-produkty">Пищевые продукты</a></li>
                        <li><a href="syryo-bad">Сырье для производства БАД</a></li>
                    </ul>
                </li>
                <hr>
                <li class="red-subtitle bold_text">
                    <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                    СЕРТИФИКАЦИЯ:
                    <ul class="list-dash">
                        <li>Обязательная сертификация:
                            <ul class="list-dash">
                                <li><a href="medicinskie-izdeliya">Медицинские изделия</a></li>
                                <li><a href="disenfeciruyushie-sredstva">Дезинфицирующие средства</a></li>
                            </ul>
                        </li>
                        <li>Добровольная сертификация:
                            <ul class="list-dash">
                                <li>
                                    <a href="medicinskie-izdeliya">Медицинские изделия</a>
                                </li>
                                <li><a href="bad">БАД</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <hr>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                <span class="bold_text">Декларация о соответствии</span> – это официальный документ, подтверждающий соответствие выпускаемой в обращение продукции требованиям действующих стандартов безопасности, отраженных в технических регламентах и других нормативных документах.
            </p>
            <p class="col-12 text_other_page">
                Сертификат соответствия – это документ, удостоверяющий соответствие объекта требованиям технических регламентов, документам по стандартизации или условиям договоров.
            </p>
            <p class="col-12 text_other_page">
                Перечень продукции, подлежащей обязательной сертификации, а также перечень продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии, представлен в постановлении Правительства РФ №982 "Об утверждении единого перечня продукции, подлежащей обязательной сертификации, и единого перечня продукции, подтверждение соответствия которой осуществляется в форме принятия декларации о соответствии".
            </p>
            <p class="col-12 text_other_page">
                Декларация о соответствии и сертификат соответствия имеют следующие отличия:
            </p>
            <p class="col-12 text_other_page">
                Декларация, в отличие от сертификата соответствия, оформляется только в обязательном порядке. Оформить
                декларацию о соответствии на продукцию, не указанную в «Едином перечне продукции, подтверждение
                соответствия которой осуществляется в форме принятия декларации о соответствии», нельзя. Сертификат же
                может быть получен практически на любой товар, в том числе и не входящий в перечень продукции, подлежащей обязательной сертификации.
            </p>
            <p class="col-12 text_other_page">
                Для декларации о соответствии не предусмотрено бланка установленного образца. Сертификаты же выпускаются на бланках государственного образца и подлежат строгой отчетности.
            </p>
            <p class="col-12 text_other_page">
                Ответственность за сведения, указанные в декларации о соответствии, несет организация-заявитель, в то время как за сведения, указанные в сертификате соответствия (как обязательном, так и добровольном), ответственность несет орган по сертификации, выдавший сертификат.
            </p>
            <p class="col-12 text_other_page">
                Декларация о соответствии регистрируется аккредитованным органом по сертификации в соответствии с кодом
                ОКПД 2, присвоенным данной продукции.
            </p>
            <p class="col-12 text_other_page">
                Для оформления декларации о соответствии в аккредитованный орган по сертификации необходимо представить протоколы лабораторных испытаний и исследований, на основании которых сертификационный орган регистрирует декларацию в едином реестре и присваивает ей регистрационный номер, который содержит код органа по сертификации и порядковый номер самой декларации о соответствии. Проверить данные можно на официальном сайте Росаккредитации.
            </p>
            <p class="col-12 text_other_page">Информация, отражаемая в декларации о соответствии:</p>
            <p class="col-12 text_other_page">
                Наш опыт в области декларирования и сертификации позволяет нам решать самые сложные вопросы, оптимизировать
                процессы по скорости и стоимости.
            </p>
            <p class="col-12 text_other_page">
                Оставьте заявку на предварительный расчет стоимости услуг, заполнив форму ниже.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text_other_page">
                Мы также готовы ответить на все Ваши вопросы по телефону, звоните: <span class="red-number">+7 (495) 741-10-41.</span>
            </p>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>