{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Дезинфицирующие средства
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Дезинфицирующие средства</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/004.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="registratsiya-lekarstvennykh-sredstv"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">РЕГИСТРАЦИЯ</a>
                </li>
                <hr>
                <li>
                    <a href="sertifikatsiya-iso"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">СЕРТИФИКАЦИЯ</a>
                </li>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text-center header_other_page">Регистрация дезинфицирующих средств</p>
            <p class="col-12 text_other_page">
                Дезинфицирующие средства – это химические вещества, которые обладают противомикробным действием и
                используются для уничтожения патогенных микроорганизмов, опасных для человека. Дезинфицирующие средства
                применяются в быту и в лечебно-профилактических учреждениях для обеззараживания помещений, одежды,
                предметов ухода за пациентами, выделений больных в инфекционных отделениях.
            </p>
            <p class="col-12 text_other_page">Дезинфицирующие средства подлежат государственной регистрации согласно
                Единому перечню продукции (товаров) по санитарно-эпидемиологическому надзору (контролю).
            </p>
            <p class="col-12 text_other_page">ООО «ДЛН» оказывает полный спектр услуг по сертификации и оформлению
                свидетельства о государственной регистрации дезинфицирующих средств с последующим подтверждением в форме
                декларирования.
            </p>
            <p class="col-12 text_other_page">Наша компания имеет большой опыт в проведении работ, касающихся
                государственной регистрации различных дезинфицирующих средств, включая различные группы товаров,
                потенциально опасных биологических и химических веществ и препаратов, изготавливаемых на их основе, и
                т.д. Профессионализм позволяет нам подбирать оптимальные схемы государственной регистрации различных
                дезинфицирующих средств и в самые короткие сроки проводить необходимые работы по минимальным ценам.
            </p>

            <p class="col-12 text-center header_other_page">Услуги ООО "ДЛН" по регистрации дезинфицирующих средств:</p>
            <ul class="list-dash">
                <li>формирование регистрационного досье в соответствии с нормативными требованиями;</li>
                <li>консультации и подготовка необходимого пакета документов для проведения исследования;</li>
                <li>консультация по всем вопросам регистрации дезсредств;</li>
                <li>организация и сопровождение проведения испытаний;</li>
                <li>организация проведения дезинфектологической экспертизы;</li>
                <li>оформление протоколов, отчетов проведенных испытаний и экспертиз, ответы на вопросы экспертов;</li>
                <li>представительство на заключительном этапе – оформление свидетельства о государственной
                    регистрации;
                </li>
            </ul>
            <p class="col-12 text_other_page">Стоимость услуг зависит от степени сложности работы и состава начального
                пакета документов. Получить более подробную консультацию у наших специалистов, а также оформить заявку
                на регистрацию дезинфицирующих средств Вы можете, перейдя по ссылке ниже:</p>

            {% include 'make-offer.html' %}


            <p class="col-12 text_other_page">Регистрация дезинфицирующих средств в России осуществляет Федеральная
                служба по надзору в сфере защиты прав потребителей и благополучия человека Министерства Здравоохранения
                РФ (Роспотребнадзор).
            </p>
            <p class="col-12 text_other_page">Действие регистрационного свидетельства распространяется на весь срок
                промышленного производства дезинфицирующего средства российской продукции или поставок зарубежных
                средств.
            </p>
            <p class="col-12 text_other_page">Регистрация производится на основании и в соответствии со следующими
                документами:
            </p>
            <ul class="list-dash">
                <li>Порядок проведения государственной регистрации дезинфицирующих, дезинсекционных и дератизационных
                    средств для применения в быту, в лечебно-профилактических учреждениях и на других объектах для
                    обеспечения безопасности и здоровья людей (утв. приказом Минздрава РФ от 10 ноября 2002 г. N 344);
                </li>
                <li>Инструкция к порядку проведения государственной регистрации в Департаменте госсанэпиднадзора
                    Минздрава России дезинфицирующих, дезинсекционных и дератизационных средств для применения в быту, в
                    лечебно-профилактических учреждениях и на других объектах для обеспечения безопасности и здоровья
                    людей (утв. Департаментом госсанэпиднадзора Минздрава РФ 17 февраля 2003 г. N 11-7/6-09);
                </li>
                <li>Соглашение Таможенного союза по санитарным мерам (в редакции Протокола о внесении изменений в
                    Соглашение Таможенного союза по санитарным мерам от 11 декабря 2009 года, принятого Решением № 39
                    Межгоссовета ЕврАзЭС (Высшего органа Таможенного союза) на уровне глав правительств 21 мая 2010
                    года).
                </li>
            </ul>
            <p class="col-12 text_other_page">С документами, необходимыми для регистрации, вы можете ознакомиться
                далее:</p>
            <br>
            <a href="#" target="_blank">[Перечень документов для регистрации дезинфицирующих средств отечественного
                производства]
            </a>
            <br>
            <a href="#" target="_blank">[Перечень документов для регистрации дезинфицирующих средств (импорт)]</a>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>