{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Документы
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Документы</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/021.jpg' %}" alt="" class="img-fluid">
        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 pb-2">
                Государственная регистрация парфюмерно-косметической продукции:
                <br>
                <a href="{% static 'documents/edinyy_perechen_tovarov,_podlezhaschih_sanitarno-epidemiologicheskomu_nadzoru_(kontrolyu)_na_tamozhennoy_granice_i_tamozhennoy_territorii.doc' %}">1. Единый перечень товаров, подлежащих санитарно-эпидемиологическому надзору (контролю) на таможенной границе и таможенной территории таможенного союза</a>
                <br>
                <a href="{% static 'documents/spisok_dokumentov,_neobhodimyh_dlya_registracii_inostrannoy_parfyumernoy_produkcii.doc' %}">2. Список документов, необходимых для регистрации иностраннойкосметической продукции</a>
                <br>
                <a href="{% static 'documents/spisok_dokumentov,_neobhodimyy_dlya_registracii_otechestvennoy_parfyumernoy_produkcii.doc' %}">3. Список документов, необходимых для регистрации отечественной  косметической продукции</a>
                <br>
                <a href="{% static 'documents/prikaz_290_ot_20.07.2010.doc' %}">4. Приказ №290 от 20.07.2010</a>
                <br>
                <a href="{% static 'documents/o_primenenii_razreshitelnyh_dokumentov_rospotrebnadzora_pri_podtverzhdenii_sootvetstviya_produkcii.doc' %}">5. О применении разрешительных документов Роспотребнадзора при подтверждении соответствия продукции</a>
            </p>
            <p class="col-12 pb-2">
                Государственная регистрация дезинфицирующих средств:
                <br>
                <a href="{% static 'documents/dezsre-va.doc' %}">1. Документы, представляемые заявителями для целей государственной регистрации пестицидов, агрохимикатов, средств дезинфекции, дезинсекции и дератизации отечественного производства</a>
            </p>
            <p class="col-12 pb-2">
                Лицензирование производства медицинских изделий:
                <br>
                <a href="{% static 'documents/prikaz_minzdrava_rf_ot_28.11.2013_g.__876n.docx' %}">1. ПРИКАЗ от 28 ноября 2013 г. N 876н</a>
                <br>
                <a href="{% static 'documents/pereoformlenie_litsenziy.pdf' %}">2. Переоформление лицензий</a>
                <br>
                <a href="{% static 'documents/gosposhlina.xlsx' %}">3. Реквизиты на оплату государственной пошлины за действия, связанные с лицензировнием</a>
            </p>
            <p class="col-12 pb-2">
                Лицензирование производства лекарственных средств:
                <br>
                <a href="{% static 'documents/federalnyy_zakon_ot_8_avgusta_2001_goda.doc' %}">1. Федеральный закон от 8 августа 2001 г.</a>
                <br>
                <a href="{% static 'documents/ot_4_iyulya_2002_g._500.doc' %}">2. Положение правительства Москвы от 4 июля 2002 г.</a>
            </p>
            <p class="col-12 pb-2">
                Лицензирование на техобслуживание медицинских изделий:
                <br>
                <a href="{% static 'documents/prikaz_minzdrava_rf_ot_28.11.2013_g.__876n.docx' %}">1. Приказ Минздрава РФ от 28.11.2013 г. № 876н</a>
                <br>
                <a href="{% static 'documents/gosposhlina.xlsx' %}">2. Реквизиты для перечисления гос. пошлины за совершение действий, связанных с лицензированием</a>
                <br>
                <a href="{% static 'documents/pereoformlenie_litsenziy.pdf' %}">3. Переоформление лицензий</a>
            </p>
            <p class="col-12 pb-2">
                СМК по требованию ЕАЭС:
                <br>
                <a href="{% static 'documents/6.pdf' %}">1. Решение Совета Евразийской Экономической Комиссии №106 от 10.11.2017</a>
            </p>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>