{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Пищевые продукты
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Пищевые продукты</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/009.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="#">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        ДЕКЛАРИРОВАНИЕ
                    </a>
                </li>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                <span class="bold_text">Порядок декларирования продуктов питания</span>
                <br>
                Вся пищевая продукция в строго установленном порядке проходит процедуру сертификации и декларирования,
                по итогам которой оформляются документы, подтверждающие соответствие требованиям технического регламента
                Таможенного Союза "О безопасности пищевой продукции". Только качественные продукты, не содержащие
                вредных для здоровья ингредиентов, могут пройти лабораторный контроль качества. Производителю продуктов
                питания заранее стоит позаботиться об отсутствии вредоносных добавок в составе декларируемой продукции,
                и удостовериться, что срок годности всех товаров в норме.
            </p>
            <p class="col-12 text_other_page">
                <span class="bold_text">Пошаговое оформление сертификата и декларации на продукты питания</span>
                <br>
                Заявитель подает заявку на декларирование пищевой продукции в орган по сертификации, которая
                рассматривается в течение одного дня. После принятия и рассмотрения заявки, эксперты центра сертификации
                классифицируют продукцию заявителя. Результатом процедуры классификации является деление продуктов
                питания на группы и присвоение им соответствующих кодов ТНВЭД. Следующим этапом производитель
                (поставщик) продукции обязан обратиться в аккредитованную лабораторию, где будут проходить испытания
                пищевой продукции и выявление вероятных отклонений от норм регламента. Заранее подготовленные образцы
                продукции доставляются для тщательного исследования. К ним должны прилагаться все необходимые документы
                (ТУ, рецептура, составы, добавки и так далее), которые прописаны в техническом регламенте Таможенного
                Союза.
            </p>
            <p class="col-12 text_other_page">
                Следует отметить, что лаборатории, в которых проходит проверка продуктов питания, должны иметь
                соответствующую аккредитацию на проведение исследований в данной области, иначе итоги исследований будут
                считаться недействительными. Согласно результатам, которые были получены в лаборатории, экспертная
                комиссия делает общий вывод. Положительные результаты исследований, отраженные в протоколе испытаний
                продуктов питания, говорят о том, что декларация соответствия на продукты питания может быть оформлена.
            </p>
            <p class="col-12 text_other_page">
                Предприятия, которые подтвердили соответствие выпускаемой пищевой продукции требованиям техрегламента,
                получают возможность экспортировать свою продукцию на рынки стран Таможенного Союза. Благодаря единым
                стандартам качества, декларации соответствия на продукты питания действуют на территории единого
                экономического пространства России, Белоруссии, Казахстана, Армении и Киргизии.
            </p>
            <p class="col-12 text_other_page">
                <span class="bold_text">Можно ли произвести сертификацию вместо декларирования?</span>
                <br>
                В первую очередь на продукты питания оформляется декларация соответствия. При наличии декларации (и на
                ее основании) можно оформлять добровольный сертификат ГОСТ Р на продукты питания. Когда оформляется
                сертификат соответствия, в нем должен быть указан номер декларации, под которым продукт был
                зарегистрирован.
            </p>
            <p class="col-12 text_other_page">
                Если у Вас остались вопросы в области декларирования соответствия продуктов питания, то Вы можете
                обратиться в центр сертификации компании «ДЛН» по телефону +7 (495) 541-76-00 либо самостоятельно
                заполнить заявку на сертификацию, нажав на кнопку ниже.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text_other_page">
                Мы гарантируем оперативный ответ на все возникшие у Вас вопросы и
                грамотный подбор оптимальной схемы сертификации Вашей продукции.
            </p>

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
</html>