{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Пищевые продукты
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Пищевые продукты</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/009.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="deklarirovanie-and-sertifikatsiya">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        ДЕКЛАРИРОВАНИЕ
                    </a>
                </li>
            </ul>

        </div>


        <div class="col-12 col-sm-8">
            <p class="col-12 text_other_page">
                Обязательное подтверждение соответствия требованиям технических регламентов Таможенного союза стран-участников Евразийского экономического союзапищевой продукции может осуществляться в виде декларирования соответствия пищевой продукции, государственной регистрации специализированной пищевой продукции, государственной регистрации пищевой продукции нового вида и ветеринарно-санитарной экспертизы.
            </p>
            <p class="col-12 text_other_page">
                Вся пищевая продукция, выпускаемая в обращение на территории Таможенного союза, подлежит декларированию. Исключение составляют:
            </p>
            <ul class="list-circle">
                <li>непереработанная пищевая продукция животного происхождения (живая или замороженная необработанная рыба, мясо, яйцо, необработанный мёд, сырое необработанное молоко). На эти виды товаров оформляется ветеринарное заключение;</li>
                <li>специализированная пищевая продукция. Детское и специализированное питание подлежит обязательной государственной регистрации.</li>
                <li>уксус.</li>
            </ul>
            <p class="col-12 text_other_page">
                Оформление декларации о соответствии включает в себя следующие этапы:
            </p>
            <ul class="list-circle">
                <li>формирование комплекта технической документации (ТУ, рецептура и т.д.);</li>
                <li>проведение исследований и испытаний с выдачей протоколов в лабораториях, которые должны иметь соответствующую аккредитацию на проведение исследований в данной области, иначе их итоги будут считаться недействительными;</li>
                <li>представление комплекта документов и полученных протоколов в аккредитованную сертификационную организацию;</li>
                <li>принятие и регистрация декларации о соответствии;</li>
                <li>нанесение на маркировку продукта единого знака обращения продукции на рынке государств-членов Таможенного союза ЕАЭС.</li>
            </ul>
            <p class="col-12 text_other_page">
                Предприятия, которые подтвердили соответствие выпускаемой пищевой продукции требованиям технических регламентов,
                получают возможность экспортировать свою продукцию на рынки стран Таможенного союза ЕАЭС. Благодаря единым
                стандартам качества, декларации соответствия на продукты питания действуют на территории единого
                экономического пространства России, Белоруссии, Казахстана, Армении и Киргизии.
            </p>
            <p class="col-12 text_other_page">
                <span class="bold_text">Можно ли произвести сертификацию вместо декларирования?</span>
                <br>
                В первую очередь на продукты питания оформляется декларация соответствия. При наличии декларации (и на
                ее основании) можно оформлять добровольный сертификат ГОСТ Р на продукты питания. В случае оформления
                сертификата соответствия, в нем должен быть указан номер декларации, под которым продукт был
                зарегистрирован.
            </p>
            <p class="col-12 text_other_page">
                Если у Вас остались вопросы по декларированию соответствия продуктов питания, то Вы можете
                обратиться в компанию «ДЛН» по телефону +7 (495) 741-10-41.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text_other_page">
                Мы гарантируем оперативный ответ на все возникшие у Вас вопросы и
                грамотный подбор оптимальной схемы сертификации Вашей продукции.
            </p>

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>