{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'menu.html' %}
    <div class="container">
        <div class="row">
            <h1 class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>Более <span class="bold_text">20 лет</span> в сфере регистрации и сертификации<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></h1>
        </div>
    </div>
    <div class="shadow"></div>

    <section class="">
        <div class="container">
            <div class="row">
                <div class="col-4 text-right">
                    <p class="dop_link_menu first_left"><a href="#">Лекарственные средства</a></p>
                    <p class="dop_link_menu"><a href="#">Медицинские изделия</a></p>
                    <p class="dop_link_menu third_left"><a href="#">Дезинфицирующие средства</a></p>
                    <p class="dop_link_menu last_left"><a href="#">Спортивное питание</a></p>
                </div>
                <div class="col-4 d-flex align-items-center justify-content-center">
                    <img src=" {% static 'img/apple.png' %}" alt="">
                </div>
                <div class="col-4 text-left">
                    <p class="dop_link_menu first_right"><a href="#">Косметические средства</a></p>
                    <p class="dop_link_menu"><a href="#">Сырьё для производства БАД</a></p>
                    <p class="dop_link_menu third_right"><a href="#">Биологически активные добавки</a></p>
                    <p class="dop_link_menu last_right"><a href="#">Пищевые продукты</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="">
        <div class="container">
            <div class="row">
                <p class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>Наши услуги<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></p>
                <div class="col-12 col-sm-6 content__services">
                    <div class="white_block col-12 row px-0">
                        <div class="col-4 px-0 d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/circle.svg' %}" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <p class="col-12 white_block__header">Регистрация</p>
                            <p class="col-12 white_block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                        </div>
                    </div>
                    <div class="grey_block col-12 row px-0">
                        <div class="grey_block__services">
                            <a href="#">Лекарственные средства</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Медицинские изделия РФ</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Медицинские изделия ЕАЭС</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">БАД</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Косметически средства</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Внесение изменений</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 content__services">
                    <div class="white_block col-12 row px-0">
                        <div class="col-4 px-0 d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/circle.svg' %}" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <p class="col-12 white_block__header">Сертификация</p>
                            <p class="col-12 white_block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                        </div>
                    </div>
                    <div class="grey_block col-12 row px-0">
                        <div class="grey_block__services">
                            <a href="#">По требованиям ISO</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">По требованиям ЕАЭС</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Декларирование</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Добровольная сертификация</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 content__services">
                    <div class="white_block col-12 row px-0">
                        <div class="col-4 px-0 d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/circle.svg' %}" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <p class="col-12 white_block__header">Лицензирование</p>
                            <p class="col-12 white_block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                        </div>
                    </div>
                    <div class="grey_block col-12 row px-0">
                        <div class="grey_block__services">
                            <a href="#">Лекарственные средства</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Медицинские изделия</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">БАД</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Косметически средства</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Внесение изменений</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-sm-6 content__services">
                    <div class="white_block col-12 row px-0">
                        <div class="col-4 px-0 d-flex align-items-center justify-content-center">
                            <img src="{% static 'img/circle.svg' %}" alt="">
                        </div>
                        <div class="col-8 px-0">
                            <p class="col-12 white_block__header">Не нашли что искали?</p>
                            <p class="col-12 white_block__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris</p>
                        </div>
                    </div>
                    <div class="grey_block col-12 row px-0">
                        <div class="grey_block__services">
                            <a href="#">E-mail: info@centr-dln.ru</a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Тел: +7 (929) 541-76-00 </a>
                        </div>
                        <div class="grey_block__services">
                            <a href="#">Заказать звонок <span> > </span></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <p class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>О компании<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></p>
                <div class="col-5">
                    <img src="{% static 'img/about_us.jpg' %}" alt="">
                </div>
                <div class="col-7">
                    <p class="text_about">Группа компаний «ДЛН» работает на рынке консалтинга в сфере государственного регулирования средств медицинского применения более 20 лет. Годы успешной работы стали возможны благодаря неустанному и добросовестному труду всего коллектива нашей компании, его способности быстро реагировать на изменения в законодательстве, компетентной работе с партнерами, выстраиванию долгосрочных и надежных отношений с экспертными организациями и испытательными центрами.
Основной актив «ДЛН» – это наши сотрудники; поэтому мы стремимся создать такие условия работы и корпоративную культуру, которые гарантировали бы им поддержку, обучение и развитие, что в свою очередь обеспечивает максимальную эффективность работы и оказание услуг, отвечающих потребностям и ожиданиям клиентов.
Наш опыт позволил создать уникальную систему управления проектами, которая позволяет выполнять их в срок и с высоким качеством, исключая простои и ошибки. Сегодня компания «ДЛН» стала уважаемым и успешным брендом, основными чертами которой является надежность, профессионализм и долгосрочные отношения с клиентами и партнерами.
</p>
                </div>
            </div>
        </div>
    </section>

    <section id="callback_form">
        <div class="container">
            <div class="row">
                <p class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>Напишите нам<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></p>
                <p class="col-12 text-center small_header">Задайте вопрос или оставьте заявку и наш менеджер свяжется с вами</p>

                <div class="col-5 text-right pr-1">
                    <input type="text" class="input__form" placeholder="Ваше имя"><br>
                    <input type="text" class="input__form" placeholder="Номер телефона"><br>
                    <input type="text" class="input__form" placeholder="Ваш e-mail"><br>
                    <p class="col-12 text-right pr-1 text_agree">Нажимая на кнопку,<br> Вы даёте <a href="#">согласие на
                        <br> обработку своих персональных данных</a></p>
                </div>
                <div class="col-7 pl-0">
                    <textarea name="" id="" cols="30" rows="3" placeholder="Текст заявки или вопроса" class="textarea__form"></textarea><br>
                    <button class="btn btn__form">Отправить</button>
                </div>
            </div>
        </div>
    </section>
    {% include 'map.html' %}
</body>
</html>