{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Лицензирование деятельности по производству лекарственных средств
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Лицензирование лекарственных средств</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/016.jpg' %}" alt="" class="img-fluid">
        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">В соответствии с частью 2 статьи 45 Федерального закона от 12.04.2010 № 61-ФЗ «Об обращении лекарственных средств» производство лекарственных средств на территории Российской Федерации может осуществляться производителями лекарственных средств, только при наличии соответствующей лицензии.</p>
            <p class="col-12 text_other_page">Лицензирование деятельности по производству лекарственных средств осуществляют:</p>
            <ul class="list-numbers">
                <li>Министерство промышленности и торговли – в части производства лекарственных средств для медицинского применения.</li>
                <li>Федеральная служба по ветеринарному и фитосанитарному надзору – в части производства лекарственных средств для ветеринарного применения.</li>
            </ul>
            <p class="col-12 text_other_page">Получение лицензии на производство лекарственных средств необходимо в случае, если юридическое лицо планирует осуществлять следующие виды работ:</p>
            <p class="col-12 text_other_page">I. В сфере обращения лекарственных средств для медицинского применения:</p>
            <ul class="list-numbers">
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами химического синтеза;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами биотехнологического синтеза;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из химического сырья;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из источников биологического, животного происхождения;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из источников растительного происхождения;</li>
                <li>Производство, хранение и реализация стерильных лекарственных препаратов с указанием группы лекарственных препаратов:</li>
                <ul class="none-content">
                    <li>а) препараты иммунобиологические медицинские - аллергены, аллергоиды, анатоксины, вакцины, гаммаглобулины, иммуноглобулины, иммуномодуляторы, моноклональные антитела, сыворотки, токсины, цитокины;</li>
                    <li>б) препараты крови, получаемые методом генетической инженерии, препараты крови, получаемые из крови человека;</li>
                    <li>в) препараты, содержащие сильнодействующие вещества;</li>
                    <li>г) препараты, содержащие высокотоксичные вещества, - антибиотики бета-лактамного ряда, гормоны, цитостатики;</li>
                    <li>д) препараты, получаемые из животного сырья, - инсулины, органопрепараты;</li>
                    <li>е) препараты радиофармацевтические;</li>
                    <li>ж) препараты, получаемые из лекарственного растительного сырья;</li>
                    <li>з) препараты, не требующие специального выделения в отдельное производство, с указанием конкретной лекарственной формы (аэрозоль, гель, губка, капли, концентрат жидкий, крем, линимент, лиофилизированные продукты, мазь, паста, пленка, порошок, растворитель, раствор для диализа, раствор для инъекций, раствор для инфузий, раствор для наружного применения, суспензия, эмульсия).</li>
                </ul>
                <li>Производство, хранение и реализация нестерильных лекарственных препаратов с указанием группы лекарственных препаратов:</li>
                <ul class="none-content">
                    <li>а) препараты иммунобиологические медицинские - бактериофаги, вакцины, иммуноглобулиновые комплексные препараты, пробиотики;</li>
                    <li>б) препараты, содержащие сильнодействующие вещества;</li>
                    <li>в) препараты, содержащие высокотоксичные вещества, - антибиотики бета-лактамного ряда, гормоны, цитостатики;</li>
                    <li>г) препараты крови, получаемые из крови человека;</li>
                    <li>д) биологические лекарственные препараты;</li>
                    <li>е) препараты гомеопатические;</li>
                    <li>ж) препараты, получаемые из лекарственного растительного сырья;</li>
                    <li>з) препараты, не требующие специального выделения в отдельное производство с указанием конкретной лекарственной формы (аэрозоль, бальзам, брикет, горчичники, гранулы, гель, драже, жидкость, капли, капсулы, капсулы мягкие, клей, крем, лак для ногтей, линимент, мазь, масло, настойка, настой, пастилки, пастилки жевательные, паста, пеллеты, пилюли, пластырь, порошок, раствор, резинка жевательная, сироп, сок, спрей, суппозитории, суспензия, сырье растительное измельченное, сырье растительное цельное, таблетки для использования в полости рта, таблетки непокрытые, таблетки покрытые оболочкой, таблетки шипучие, трансдермальная терапевтическая система, шампуни, экстракты сухие, экстракты жидкие, эликсиры, эмульсии).</li>
                </ul>
                <li>Производство, хранение и реализация газов медицинских с указанием лекарственной формы (газ медицинский жидкий, газ медицинский сжатый).</li>
                <li>Производство, хранение и реализация лекарственных средств с указанием стадии технологического процесса - упаковка (первичная и (или) вторичная).</li>
            </ul>
            <p class="col-12 text_other_page">В сфере обращения лекарственных средств для ветеринарного применения:</p>
            <ul class="list-numbers">
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами химического синтеза;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами биотехнологического синтеза;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из химического сырья;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из источников биологического, животного происхождения;</li>
                <li>Производство, хранение и реализация фармацевтических субстанций, получаемых методами выделения из источников растительного происхождения;</li>
                <li>Производство, хранение и реализация стерильных лекарственных препаратов с указанием конкретной лекарственной формы (аэрозоль, гель, крем, линимент, лиофилизированные продукты, мазь, паста, пленка, порошок, раствор, раствор для инъекций, стеклообразная масса, стерильная пористая масса, суспензия, сухая масса, таблетки, эмульсии);</li>
                <li>Производство, хранение и реализация нестерильных лекарственных препаратов с указанием конкретной лекарственной формы (аэрозоль, бальзам, брикет, гель, гранулы, драже, капли, капсулы, капсулы мягкие, крем, линимент, мазь, масло, микрогранулы, микрокапсулы, настой, настойка, пастилки, паста, пеллеты, пластины, пластинки, пластырь, пленка, полимерная лента, полоски, порошок, раствор, сироп, спрей, суппозитории, суспензия, таблетки, шнур, экстракт, эликсир, эмульсия).</li>
            </ul>
            <p class="col-12 text_other_page">К соискателю лицензии лицензирующими органами предъявляются следующие требования:</p>
            <ul class="none-content">
                <li>а) наличие у соискателя лицензии помещений, зданий, сооружений и иных объектов, технических средств, оборудования и технической документации, принадлежащих ему на праве собственности или на ином законном основании, необходимых для выполнения заявляемых работ;</li>
                <li>б) соответствие производства лекарственных средств правилам организации производства и контроля качества лекарственных средств;</li>
                <li>в) наличие промышленных регламентов, утвержденных руководителем производителя лекарственных средств (соискателя лицензии) и включающих в себя перечень используемых фармацевтических субстанций и вспомогательных веществ с указанием количества каждого из них, данные об используемом оборудовании и описание технологического процесса и методов контроля на всех этапах производства лекарственных средств;</li>
                <li>г) наличие уполномоченного лица производителя лекарственных средств, которое при вводе лекарственных средств в гражданский оборот осуществляет подтверждение соответствия лекарственных средств требованиям, установленным при их государственной регистрации, и гарантирует, что лекарственные средства произведены в соответствии с правилами производства и контроля качества лекарственных средств, а также которое:</li>
                <ul class="list-numbers">
                    <li>имеет высшее фармацевтическое, химическое, медицинское или биологическое образование либо при производстве лекарственных средств для ветеринарного применения - ветеринарное образование, стаж работы не менее чем 5 лет в области производства и контроля качества лекарственных средств;</li>
                    <li>при производстве лекарственных средств для медицинского применения аттестовано в порядке, установленном Министерством здравоохранения Российской Федерации, при производстве лекарственных средств для ветеринарного применения - в порядке, установленном Министерством сельского хозяйства Российской Федерации;</li>
                </ul>
                <li>д) наличие работников, заключивших трудовые договоры, имеющих соответственно высшее или среднее профессиональное фармацевтическое, химическое, химико-технологическое, биологическое, биотехнологическое, медицинское или ветеринарное образование, ответственных за производство и маркировку лекарственных средств.</li>
            </ul>
            <p class="col-12 text_other_page">Срок получения лицензии на производство лекарственных средств составляет 45 рабочих дней.</p>
            <p class="col-12 text_other_page">За предоставление лицензии взимается государственная пошлина в размере 7 500 рублей.</p>


            {% include 'make-offer.html' %}

            <!--<ul class="list-dash">-->
                <!--<li>-->
                    <!--<a href="{% static 'files/federalnyy_zakon_ot_8_avgusta_2001_goda.doc' %}">Федеральный закон от 8 августа 2001 г.</a>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<a href="{% static 'files/ot_4_iyulya_2002_g._500.doc' %}">Положение правительства Москвы от 4 июля 2002 г.</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>