{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'menu.html' %}
    <div class="header_page">
        <h1 class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>Лекарственные средства<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></h1>
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb mb-0">
                  <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Лекарственные средства</a></li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row content_other_page">
            <div class="col-12 col-sm-4">
                <img src="{% static 'img/002.jpg' %}" alt="" class="img-fluid">

                <p class="red-text mt-3">НАШИ УСЛУГИ</p>
                <ul class="list_services">
                    <li>
                        <a href="registratsiya-lekarstvennykh-sredstv"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">РЕГИСТРАЦИЯ</a>
                    </li>
                    <hr>
                    <li>
                        <a href="litsenzirovanie-lekarstvennykh-sredstv"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">ЛИЦЕНЗИРОВАНИЕ</a>
                    </li>
                    <hr>
                </ul>

            </div>
            <div class="col-12 col-sm-8">
                <p class="col-12 text-center header_other_page">Регистрация лекарственных средств</p>
                <p class="col-12 text_other_page">
                    Лекарственные препараты могут быть введены в обращение на территории Российской Федерации только в том случае, если они зарегистрированы соответствующим государственным органом в установленном порядке.
                </p>
                <p class="col-12 text_other_page">
                    Государственная регистрация лекарственных средств осуществляется по результатам их экспертизы, определяющей качество лекарственных средств и подтверждающей безопасность и эффективность их применения.
                </p>
                <p class="col-12 text_other_page">
                    Государственной регистрации подлежат:
                </p>
                <ul class="list-digit">
                    <li>все лекарственные препараты, планируемые к введению в обращение в Российской Федерации впервые;</li>
                    <li>лекарственные препараты, зарегистрированные ранее, но произведённые в других лекарственных формах в соответствии с перечнем наименований лекарственных форм, в новой дозировке при доказательстве ее клинической значимости и эффективности;</li>
                    <li>новые комбинации зарегистрированных ранее лекарственных препаратов;</li>
                    <li>фармацевтические субстанции, произведённые для реализации.</li>
                </ul>
                <p class="col-12 text_other_page">
                    Также необходимо своевременно вносить изменения в регистрационные досье уже зарегистрированных лекарственных средств, в случае изменения сведений о производителе, держателе регистрационного удостоверения, методик контроля качества, вспомогательных веществ и т.д.
                </p>
                <p class="col-12 text_other_page">Наши специалисты работают по налаженному годами алгоритму, позволяющему осуществлять личный контроль всех этапов регистрации лекарственных средств:</p>
                <ul class="list-dash">
                    <li>подготовку пакета документов для получения разрешения на клинические исследования лекарственного средства;</li>
                    <li>организацию и мониторинг клинических исследований лекарственного средства в целях регистрации на территории РФ;</li>
                    <li>организацию и мониторинг доклинических исследований лекарственного средства;</li>
                    <li>процедуру подтверждения регистрации лекарственного средства;</li>
                    <li>оформление и подачу периодических отчетов по безопасности лекарственного средства;</li>
                    <li>подтверждение регистрации лекарственного средства.</li>
                </ul>
                <p class="col-12 text_other_page">Для Вашего удобства мы представили в виде схемы основные этапы государственной регистрации лекарственных средств. Получить подробную консультацию по всем вопросам регистрации лекарственных средств Вы можете, перейдя по ссылке ниже или позвонив по телефону <span class="red-number">+7 (495) 741-10-41</span></p>

                {% include 'make-offer.html' %}

                <p class="col-12 text-center header_other_page">Лицензирование лекарственных средств</p>
                <p class="col-12 text_other_page">
                    Лицензирование – это сложный этап получения специального разрешения на производство лекарственных средств, которое выдается юридическому лицу или индивидуальному предпринимателю. Порядок получения лицензии определяется Постановлением Правительства «Положение о лицензировании производства лекарственных средств».
                </p>
                <p class="col-12 text_other_page">
                    К лицензированию лекарственных средств предъявляется ряд требований, несоответствие которым влечет за собой отказ в выдаче лицензии, а именно:
                </p>
                <ul class="list-dash">
                    <li>наличие помещения и оборудования для производства и хранения лекарственных средств;</li>
                    <li>контроль качества лекарственных средств в разрешенных для производства формах;</li>
                    <li>наличие специалистов, имеющих специальное образование: медицинское, фармацевтическое, химико-технологическое и др., которое разрешает допуск к производству лекарственных средств;</li>
                    <li>регулярное повышение квалификации работников, связанных с производством и маркировкой лекарственных средств;</li>
                    <li>утилизация отходов производства и лекарственных средств с истекшим сроком годности. Федеральный Закон №128-ФЗ от 08.08.2001 «О лицензировании отдельных видов деятельности» может отказать в выдаче лицензии на основании пункта 3 статьи 9.</li>
                </ul>
                <p class="col-12 text_other_page">
                    Основанием для этого могут служить следующие моменты:
                </p>
                <ul class="list-dash">
                    <li>наличие в документах, представленных соискателем лицензии, недостоверной или искаженной информации;</li>
                    <li>несоответствие соискателя лицензии, принадлежащих ему или используемых им объектов лицензионным требованиям и условиям.</li>
                </ul>
                <p class="col-12 text_other_page">
                    Компания «ДЛН» поможет Вам пройти весь процесс лицензирования без лишних проблем и минимизировать риск отказа в получения лицензии.
                    Для подробной консультации по лицензированию лекарственных средств воспользуйтесь формой, перейдя по ссылке ниже.
                </p>

                {% include 'make-offer.html' %}
            </div>
        </div>
    </div>
    {% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>