{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Внесение изменений
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Регистрация</a></li>
                    <li class="breadcrumb-item"><a href="#">Внесение изменений</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/012.jpg' %}" alt="" class="img-fluid">
        </div>


        <div class="col-12 col-sm-8">
            <p class="col-12 text-center header_other_page">Внесение изменений в документы, содержащиеся в
                регистрационном досье</p>
            <p class="col-12 text_other_page">
                Изменения, не требующие проведения экспертизы:
            </p>
            <p class="col-12 text_other_page">
                а) изменение сведений о заявителе, включая сведения:
                - о реорганизации юридического лица;
                - об изменении наименования юридического лица (полного и (в случае, если имеется) сокращенного, в том
                числе фирменного наименования), адреса места его нахождения;
                - об изменении фамилии, имени и (в случае, если имеется) отчества, адреса места жительства
                индивидуального предпринимателя и реквизитов документа, удостоверяющего его личность;
            </p>
            <p class="col-12 text_other_page">
                б) изменение сведений о лице, на имя которого может быть выдано регистрационное удостоверение на
                медицинское изделие, включая сведения:
                - о реорганизации юридического лица;
                - об изменении наименования юридического лица (полного и (в случае, если имеется) сокращенного, в том
                числе фирменного наименования), адреса места его нахождения или фамилии, имени и (в случае, если
                имеется) отчества, места жительства индивидуального предпринимателя;
            </p>
            <p class="col-12 text_other_page">
                в) изменение адреса места производства (изготовления) медицинского изделия;
            </p>
            <p class="col-12 text_other_page">
                г) изменение наименования медицинского изделия в случае, если не изменились свойства и характеристики,
                влияющие на качество, эффективность и безопасность медицинского изделия, или совершенствуются его
                свойства и характеристики при неизменности функционального назначения и (или) принципа действия,
                предусматривающее:
            </p>
            <ul class="list-dash">
                <li>
                    добавление (исключение) принадлежностей медицинского изделия или изменение их наименования;
                </li>
                <li>
                    указание, изменение и исключение товарного знака и иных средств индивидуализации медицинского
                    изделия;
                </li>
                <li>
                    изменение количества единиц медицинского изделия или его составных частей, комплектующих, указанных
                    в приложении к регистрационному удостоверению;
                </li>
                <li>
                    указание или исключение вариантов исполнения (моделей) медицинского изделия;
                </li>
                <li>
                    изменение маркировки и (или) упаковки медицинского изделия;
                </li>
            </ul>
            <p class="col-12 text_other_page">
                изменение маркировки и (или) упаковки медицинского изделия;
            </p>
            <p class="col-12 text_other_page">
                е) изменение информации об уполномоченном представителе производителя (изготовителя) медицинского
                изделия.
            </p>
            <p class="col-12 text_other_page">
                Внесение изменений в техническую и эксплуатационную документацию осуществляется <span class="bold_text">по результатам экспертизы</span>
                качества, эффективности и безопасности медицинского изделия.
            </p>
            <p class="col-12 text_other_page">
                Высокая квалификация и опыт сотрудников позволяет нам решать самые сложные вопросы, а также
                оптимизировать процесс регистрации по скорости и стоимости. Доверьте свой проект нашим экспертам,
                заполнив форму ниже.
            </p>

            {% include 'make-offer.html' %}

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>