{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Внесение изменений
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="/">Главная</a></li>               
                    <li class="breadcrumb-item"><a href="#">Внесение изменений</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/012.jpg' %}" alt="" class="img-fluid">
        </div>


        <div class="col-12 col-sm-8">
            <p class="col-12 text-center header_other_page">ВИРД</p>
            <p class="col-12 text_other_page">
                Регистрационное досье должно содержать в себе актуальную информацию о медицинском изделии, в противном случае при выявлении Росздравнадзором в результате проверки каких-либо несоответствий продукции документам, находящимся в досье, реализация изделия будет приостановлена, что негативно отразится как на доходах компании-производителя, так и на её репутации.
            </p>
            <p class="col-12 text_other_page">
                Внесение изменений в регистрационные документы (ВИРД) включает в себя:
            </p>
            <ul class="list-circle">
                <li>Внесение изменений в регистрационные документы;</li>
                <li>Внесение изменений в регистрационное удостоверение;</li>
                <li>Выдачу дубликата регистрационного удостоверения;</li>
                <li>Замену регистрационного удостоверения.</li>
            </ul>
            <p class="text_other_page">
                Изменения, вносимые в документы, бывают двух видов:
            </p>

            <ul class="list-dashed">
                <li>не требующие проведения экспертизы качества, эффективности и безопасности медицинского изделия. К ним относятся:
                    <ul class="list-circle">
                        <li>изменение сведений о заявителе </li>
                        <li>изменение сведений о лице, на имя которого может быть выдано регистрационное удостоверение </li>
                        <li>изменение адреса места производства изделия</li>
                        <li>изменение наименования медицинского изделия</li>
                        <li>изменение сроков действия документов, содержащихся в досье</li>
                        <li>изменение информации об уполномоченном представителе</li>
                    </ul>
                </li>
                <li>
                    требующие проведения экспертизы качества, эффективности и безопасности медицинского изделия, затрагивающие техническую и эксплуатационную документацию на изделие, но не влияющие на функциональное назначение и принцип действия медицинского изделия. Примеры таких изменений следующие:
                    <ul class="list-circle">
                        <li>добавление новых исполнений или изменение комплектности медицинского изделия</li>
                        <li>изменение конструкции и/или материалов, из которых изготовлено изделие</li>
                        <li>изменение стандартов производства изделия и т.д.</li>
                    </ul>
                </li>
            </ul>
            <p class="col-12 text_other_page">
                Высокая квалификация и многолетний опыт сотрудников позволяет нам решать самые сложные вопросы, а также
                оптимизировать процесс внесения изменений по скорости и стоимости. Доверьте свой проект нашим экспертам,
                заполнив форму ниже.
            </p>

            {% include 'make-offer.html' %}

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>