{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'menu.html' %}
    <div class="header_page">
        <h1 class="col-12 text-center header"><span class="square_top"><img src="{% static 'img/square_top.svg'%}" alt=""></span>Медицинские изделия<span class="square_bottom"><img src="{% static 'img/square_bottom.svg'%}" alt=""></span></h1>
        <div class="container">
            <div class="row">
                <nav aria-label="breadcrumb mb-0">
                  <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Медицинские изделия</a></li>
                  </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row content_other_page">


            <div class="col-12 col-sm-4">
                <img src="{% static 'img/003.jpg' %}" alt="" class="img-fluid">

                <p class="red-text mt-3">НАШИ УСЛУГИ</p>
                <ul class="list_services">
                    <li>
                        <a href="registratsiya-lekarstvennykh-sredstv-rf"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">РЕГИСТРАЦИЯ РФ И ЕАЭС</a>
                    </li>
                    <hr>
                    <li>
                        <a href="litsenzirovanie-lekarstvennykh-sredstv"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">ЛИЦЕНЗИРОВАНИЕ</a>
                    </li>
                    <hr>
                    <li>
                        <a href="deklarirovanie-and-sertifikatsiya"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">ДЕКЛАРИРОВАНИЕ И СЕРТИФИКАЦИЯ</a>
                    </li>
                    <hr>
                </ul>

            </div>


            <div class="col-12 col-sm-8">
                <p class="col-12 text_other_page">
                    <span class="bold_text">Медицинские изделия</span> – это устройства, инструменты, материалы, которые используются для диагностики, профилактики, лечения различных заболеваний, а также для реабилитации пациентов после перенесенных травм или операций.
                    На территории РФ разрешено обращение только зарегистрированных медицинских изделий.
                </p>
                <p class="col-12 text_other_page">
                    Мы предлагаем комплексное решение задач по регистрации, сертификации и декларированию медицинских изделий,  а также по лицензированию деятельности по производству и техническому обслуживанию медицинской техники. Получить подробную консультацию Вы можете, оформив заявку.
                </p>

                {% include 'make-offer.html' %}

                <p class="col-12 text_other_page bold_text">Пакет наших услуг по регистрации включает:</p>
                <ul class="list-circle">
                    <li>определение вида и класса потенциального риска медицинского изделия;</li>
                    <li>организацию работ по получению разрешения на ввоз образцов (для иностранных изделий);</li>
                    <li>анализ представленного досье с представлением рекомендациями по коррекции документов, входящих в его состав, подробная консультация по оформлению всех необходимых документов;</li>
                    <li>координацию проведения технических испытаний, токсикологических исследований и клинических испытаниях в аккредитованных лабораториях и медицинских учреждениях;</li>
                    <li>полное сопровождение процедуры государственной регистрации медицинских изделий в Федеральной службе по надзору в сфере здравоохранения (Росздравнадзоре). Результат всех перечисленных работ – получение регистрационного удостоверения Росздравнадзора.</li>
                </ul>
                <p class="col-12 text_other_page">
                    <span class="bold_text">Обращаем ваше внимание! </span>
                    Замена регистрационных удостоверений, выданных до 1 января 2013 г., осуществляется без прохождения процедуры государственной регистрации медицинских изделий на основании заявления, представленного заявителем в Федеральную службу по надзору в сфере здравоохранения.
                </p>
                <p class="col-12 text_other_page">Мы прилагаем все усилия для того, чтобы сократить затраты энергии и времени наших клиентов и сделать процедуру регистрации максимально быстрой и комфортной.</p>
                <p class="col-12 text_other_page">
                    <span class="bold_text">Нормативные документы:</span>
                    <br>
                    <a href="http://pravo.gov.ru/proxy/ips/?docbody=&nd=102162372" target="_blank">Постановление Правительства РФ от 27.12.2012 г. №1416 "Об утверждении правил государственной регистрации медицинских изделий"</a>
                </p>
                <p class="col-12 text_other_page">
                    <a href="http://www.consultant.ru/document/cons_doc_LAW_165272/2ff7a8c72de3994f30496a0ccbb1ddafdaddf518/" target="_blank">
                        Приказ Минздрава России от 14.10.2013 N 737н
                        "Об утверждении Административного регламента Федеральной службы по надзору в сфере здравоохранения по предоставлению государственной услуги по государственной регистрации медицинских изделий"
                        (Зарегистрировано в Минюсте России 20.06.2014 N 32823)
                    </a>
                </p>
            </div>
        </div>
    </div>
    {% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>