{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        БАД
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">БАД</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/008.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="#">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        РЕГИСТРАЦИЯ
                    </a>
                </li>
                <hr>
                <li>
                    <a href="#">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        ДОБРОВОЛЬНАЯ СЕРТИФИКАЦИЯ
                    </a>
                </li>
                <hr>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                БАД (биологически активные добавки) – это композиция биологически активных веществ, которые
                употребляются в качестве отдельных добавок или путем введения в пищу в составе пищевых продуктов.
            </p>
            <p class="col-12 text_other_page">
                БАД не являются непосредственным продуктом питания, однако они должны соответствовать требованиям и
                нормам по санитарно-гигиенической безопасности. Для реализации БАД на территории Российской Федерации
                требуется Свидетельство о государственной регистрации.
            </p>
            <p class="col-12 text-center header_other_page">Государственная регистрация и добровольная сертификация БАД
                (биологически активных добавок)
            </p>
            <p class="col-12 text_other_page">
                Компания «ДЛН» успешно занимается регистрацией и сертификацией БАД (биологически активных добавок). Мы
                накопили достаточный опыт в этой области и готовы делиться им с нашими клиентами!
            </p>
            <p class="col-12 text-center header_other_page">
                Регистрация БАД в России
            </p>
            <p class="col-12 text_other_page">
                Мы предоставляем комплексное сопровождение процесса государственной регистрации продукта на всех этапах:
            </p>
            <ul class="list-dash">
                <li>предварительный анализ ингредиентного состава БАД с целью определения возможности регистрации</li>
                <li>подробная консультация по оформлению всех необходимых документов для регистрации БАД</li>
                <li>подготовка регистрационного досье для подачи в Роспотребнадзор
                    Результат нашей работы - готовое Свидетельство о государственной регистрации.
                </li>
            </ul>
            <p class="col-12 text_other_page">
                Свидетельство о государственной регистрации действительно для стран таможенного союза (ЕАЭС) - России,
                Белоруссии, Казахстана, Армении, Киргизии.
            </p>
            <p class="col-12 text_other_page">
                Срок регистрации зависит от количества необходимых исследований и наличия документов. При полном
                комплекте документации срок составляет от 2-х месяцев. (Рассмотрение документов в Роспотребнадзоре
                занимает около 2-х недель).
            </p>
            <p class="col-12 text_other_page">
                Средний срок регистрации - от 2 месяцев. Более точно срок регистрации в Вашем случае Вы можете уточнить
                у наших специалистов.
            </p>
            <p class="col-12 text_other_page">
                Мы поможем Вам собрать пакет документов и проконсультируем по всем вопросам.
            </p>
            <p class="col-12 text_other_page">
                Производство ряда документов, таких как пояснительная записка, проект этикетки мы разрабатываем
                полностью, ряд других документов (доверенность, акт отбора проб, декларации) готовятся по нашим
                образцам, остальные документы готовятся производителем после нашей предварительной проверки и при
                необходимости наших рекомендаций.
            </p>
            <p class="col-12 text_other_page bold_text">Перечень документов:</p>
            <a href="#" target="_blank">Примерный перечень документов для регистрации российских БАД</a>
            <br>
            <a href="#" target="_blank">Примерный перечень документов для регистрации российских БАД</a>
            <p class="col-12 text_other_page">
                Рекомендуем Вам уже сейчас заполнить форму заявки для предварительной подготовки пакета необходимых
                документов, это бесплатно.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text-center header_other_page">Добровольная сертификация БАД</p>
            <p class="col-12 text_other_page">
                Получение Сертификата соответствия Системы добровольной сертификации
                Подтверждение эффективности использования БАД. Добровольная сертификация БАД обеспечивает доказательную
                базу в отношении отличительных признаков данной продукции в части ее эффективности и соответствии
                свойств, заявленных производителем.
            </p>
            <p class="col-12 text_other_page">
                Добровольная сертификация позволяет расширить область применения Вашего препарата и повышает
                конкурентоспособность продукта. Добровольная сертификация ускоряет процесс товарооборота и тем самым
                выступает как эффективный рыночный инструмент, в котором заинтересованы как потребитель, так и
                изготовитель.
            </p>
            <p class="col-12 text_other_page">
                При наличии у Вас сертификата Вы сможете размещать свойства вашего БАДа на его упаковке, свободно
                использовать данную информацию в рекламе и иметь устойчивое положение на рынке.
            </p>

            <p class="col-12 text-center header_other_page">Другие услуги в области регистрации и лабораторных
                исследований БАД:
            </p>
            <ul class="list-dash">
                <li>разработка нового профилактического БАД с разработкой технологии его производства по заданию
                    Заказчика;
                </li>
                <li>разработка технических условий (ТУ), технического регламента, технических инструкций;</li>
                <li>проведение переговоров от Вашего имени с потенциальными дистрибьюторами Вашей продукции;</li>
                <li>проведение конфиденциальных лабораторных исследований независимой организацией любой пищевой
                    добавки, как Вашего производства, так и других производителей.
                </li>
            </ul>
            <p class="col-12 text_other_page">
                Мы гарантируем, что обращаясь в ООО "ДЛН", Вы экономите время, усилия и бюджет!
            </p>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
</html>