{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        БАД
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">БАД</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/008.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="registratsiya-bad">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        РЕГИСТРАЦИЯ
                    </a>
                </li>
                <hr>
                <li>
                    <a href="deklarirovanie-and-sertifikatsiya">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        ДОБРОВОЛЬНАЯ СЕРТИФИКАЦИЯ
                    </a>
                </li>
                <hr>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                Биологически активные добавки к пище (БАД) – это композиции натуральных или идентичных натуральным биологически активных веществ, предназначенные для непосредственного приема с пищей или введения в состав пищевых продуктов.
            </p>
            <p class="col-12 text_other_page">
                БАД не являются непосредственным продуктом питания, однако организация их производства должна соответствовать санитарно-эпидемиологическим правилам и нормам, а сами добавки – отвечать гигиеническим требованиям к безопасности.
            </p>
            <p class="col-12 text_other_page">
                Для реализации БАД на территории Российской Федерации требуется Свидетельство о государственной регистрации.
            </p>
            <p class="col-12 text-center header_other_page">Государственная регистрация и добровольная сертификация БАД
            </p>
            <p class="col-12 text_other_page">
                Компания «ДЛН» на протяжении многих лет успешно занимается регистрацией и сертификацией БАД (биологически активных добавок). Мы
                накопили богатый опыт в этой области и готовы делиться им с нашими клиентами!
            </p>
            <p class="col-12 text-center header_other_page">
                Регистрация БАД в России
            </p>
            <p class="col-12 text_other_page">
                Мы предоставляем комплексное сопровождение процесса государственной регистрации продукта на всех этапах:
            </p>
            <ul class="list-dash">
                <li>предварительный анализ ингредиентного состава БАД с целью определения возможности регистрации</li>
                <li>подробная консультация по оформлению всех необходимых документов для регистрации БАД Мы осуществляем разработку ряда документов (например, пояснительной записки, обуславливающей причины включения действующих веществ в состав БАД, или проекта этикетки, отвечающего требованиям нормативной документации), проверяем документы, представленные производителем, и даём рекомендации по их коррекции.</li>
                <li>координация проведения испытаний продукции, а также санитарно-эпидемиологической экспертизы</li>
                <li>подготовка регистрационного досье для подачи в Федеральную службу по надзору в сфере защиты прав потребителей и благополучия человека (Роспотребнадзор)</li>
            </ul>
            <p class="col-12 text_other_page">
                Результат нашей работы - готовое Свидетельство о государственной регистрации.
            </p>
            <p class="col-12 text_other_page">
                Свидетельство о государственной регистрации действует на территории стран, входящих в состав ЕАЭС - России,
                Белоруссии, Казахстана, Армении, Киргизии.
            </p>
            <p class="col-12 text_other_page">
                Срок осуществления регистрации зависит от требуемого объема испытаний, а также от фактического наличия документов и необходимости их доработки. При наличии
                полного пакета документов, оформленных надлежащим образом, срок составляет от 2-х месяцев до 4-х месяцев. (Рассмотрение документов в Роспотребнадзоре
                занимает около 2-х недель).
            </p>
            <p class="col-12 text_other_page">
                Для уточнения сроков регистрации в непосредственно Вашем случае Вы можете обратиться к нашим специалистам.
            </p>
            <p class="col-12 text_other_page">
                Мы поможем Вам собрать пакет документов и проконсультируем по всем вопросам.
            </p>
            <p class="col-12 text_other_page bold_text mb-0">Перечень документов:</p>
            <a href="{% static 'documents/r_bad.doc' %}" class="pl-3">Примерный перечень документов для регистрации российских БАД</a>
            <br>
            <a href="{% static 'documents/i_bad.doc' %}" class="pl-3 mb-3" >Примерный перечень документов для регистрации импортных БАД</a>
            <p class="col-12 text_other_page mt-3">
                Обращаем Ваше внимание на то, что для каждой отдельной БАД экспертами может быть запрошен дополнительный специфический информационный документ. Более детальную информацию по перечню документов непосредственно для Вашего продукта Вы можете узнать у наших специалистов после представления сведений об ингредиентном составе.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text-center header_other_page">Добровольная сертификация БАД</p>
            <p class="col-12 text_other_page">
                В рамках системы добровольной сертификации предусматривается подтверждение качества продукции и оценка эффективности использования БАД для оптимизации различных видов обмена веществ и нормализации и/или улучшения функционального состояния органов и систем организма человека (в соответствии с СанПиН 2.3.2.1290-03).
            </p>
            <p class="col-12 text_other_page">
                Добровольная сертификация повышает
                конкурентоспособность продукта, ускоряет процесс товарооборота и тем самым
                выступает как эффективный рыночный инструмент, в котором заинтересованы как потребитель, так и
                изготовитель.
            </p>
            <p class="col-12 text_other_page">
                При наличии у Вас сертификата Вы сможете размещать сведения о свойствах Вашей  добавки на её упаковке, свободно
                использовать данную информацию в рекламе, что обеспечит Вашему продукту устойчивое положение на рынке.
            </p>

            <p class="col-12 text-center header_other_page">Другие услуги в области регистрации и лабораторных
                исследований БАД:
            </p>
            <ul class="list-dash">
                <li>разработка рецептуры и технологии производства новой биологически активной добавки по заданию Заказчика;
                </li>
                <li>разработка технических условий (ТУ), технического регламента, технических инструкций;</li>
                <li>проведение переговоров от Вашего имени с потенциальными дистрибьюторами Вашей продукции;</li>
                <li>организация проведения конфиденциальных лабораторных исследований независимой организацией любой пищевой
                    добавки, как Вашего производства, так и других производителей.
                </li>
            </ul>
            <p class="col-12 text_other_page">
                Мы гарантируем, что, обращаясь в ООО «ДЛН», Вы экономите время, усилия и деньги!
            </p>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>