{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Сырье для производства БАД
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Сырье для производства БАД</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/007.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="#">
                        <img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">
                        ДЕКЛАРИРОВАНИЕ
                    </a>
                </li>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text-center header_other_page">Оформление декларации о соответствии на сырье для БАД</p>
            <p class="col-12 text_other_page">
                Декларация о соответствии — документ, в котором производитель удостоверяет, что поставляемая им
                продукция соответствует требованиям нормативных документов.
            </p>
            <p class="col-12 text_other_page">
                Сырье для производства БАД (биологически активных добавок) должно соответствовать гигиеническим
                нормативам и строгим требованиям к качеству в соответствии с Техническим регламентом Таможенного Союза
                021/2011 «О безопасности пищевой продукции».
            </p>
            <p class="col-12 text_other_page">
                Для получения Свидетельства государственной регистрации на БАД необходима Декларация о соответствии на
                сырье как один из основных документов, предоставляемых в Роспотребнадзор.
            </p>
            <p class="col-12 text_other_page">Декларирование сырья для производства БАД проходит в несколько этапов:</p>
            <ul class="list-dash">
                <li>сбор и формирование необходимой документации, ее анализ;</li>
                <li>производственный контроль;</li>
                <li>испытания лабораторных образцов;</li>
                <li>принятие декларации о соответствии и ее регистрация;</li>
                <li>нанесение единого знака обращения продукции.</li>
            </ul>
            <p class="col-12 text_other_page">Эксперты компании "ДЛН" помогут получить декларацию на сырье по самым
                низким ценам и в максимально короткие сроки.
            </p>

            {% include 'make-offer.html' %}

            <p class="col-12 text_other_page">
                Срок действия декларации о соответствии устанавливается заявителем, если иное не предусмотрено
                техническими регламентами Таможенного союза на отдельные виды пищевой продукции. Государства - члены
                Таможенного союза ведут учет принятых деклараций о соответствии.
                Мы поможем оформить декларацию о соответствии исходя из Ваших потребностей. Заполните форму ниже.
            </p>
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
</html>