{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Регистрация лекарственных средств
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Регистрация</a></li>
                    <li class="breadcrumb-item"><a href="#">Лекарственные средства</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">

        <p class="col-12 text-center header_other_page red-text">Схема государственной регистрации лекарственных
            средств
        </p>
        <div class="col-12 wraper_scrolling">
            <div class="scrolling_div">
                <img src="{% static 'img/gos-scheme.svg' %}">
            </div>
        </div>
        <br>
        <p class="col-12 text_other_page">
            Благодаря накопленному опыту, мы знаем об определенных нюансах, которые могут возникнуть в процессе
            оформления документации в регистрирующих органах и затормозить весь процесс.
        </p>
        <p class="col-12 text_other_page">
            Благодаря накопленному опыту, мы грамотно оформляем весь пакет документации для регистрирующих органов и
            осторожно обходим некоторые нюансы в регистрационных моментах, которые могут задержать весь процесс.
        </p>
        <p class="col-12 text_other_page">
            Сотрудники «ДЛН» готовы ответить на все Ваши вопросы - звоните! <span class="red-number">+7 (495) 541-76-00</span>
        </p>
        <p class="col-12 text_other_page">
            Также вы можете оставить Вашу заявку на сайте. Специалист компании в ближайшее время перезвонит Вам,
            чтобы проконсультировать по любому из наших направлений.
        </p>
        <div class="col-12">
            {% include 'make-offer.html' %}
        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>