{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Регистрация БАД
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Регистрация</a></li>
                    <li class="breadcrumb-item"><a href="#">БАД</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-12">
            <p class="col-12 text-center header_other_page red-subtitle">
                Схема государственной регистрации биологически активных добавок (БАД)
            </p>
            <div class="col-12 wraper_scrolling">
                <div class="scrolling_div text-center">
                    <img src="{% static 'img/register-bad.svg' %}">
                </div>
            </div>
            <p class="col-12 text_other_page">
                Благодаря накопленному опыту, мы знаем обо всех нюансах, которые могут возникнуть в процессе
                оформления документации для регуляторного органа и затормозить весь процесс.
            </p>
            <p class="col-12 text_other_page">
                Мы готовы ответить на все Ваши вопросы – звоните: <span class="red-number">+7 (495) 741-10-41.</span>
                Также Вы можете оставить вашу заявку на сайте, чтобы мы могли предварительно подготовить исчерпывающую информацию непосредственно для Вашего случая.
            </p>
            <p class="col-12 text_other_page">
                Специалист компании в ближайшее время перезвонит Вам,
                чтобы проконсультировать по любому из наших направлений.
            </p>

            {% include 'make-offer.html' %}

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>