{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Регистрация медицинских изделий
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Регистрация</a></li>
                    <li class="breadcrumb-item"><a href="#">Лекарственные средства</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">

        <p class="col-12 text-center header_other_page red-subtitle">Процедура государственной регистрации
            медицинских изделий осуществляется в 2 этапа:
        </p>
        <p class="col-12 text-center red-subtitle step">
            1-й этап
        </p>
        <div class="col-12 wraper_scrolling">
            <div class="scrolling_div text-center">
                <img src="{% static 'img/step1.svg' %}" class="centered-img">
            </div>
        </div>
        <p class="col-12 text-center red-subtitle step">
            2-й этап
        </p>
        <div class="col-12 wraper_scrolling">
            <div class="scrolling_div text-center">
                <img src="{% static 'img/step2.svg' %}" class="centered-img">
            </div>
        </div>
        <p class="col-12 text-center red-subtitle top-shift">
            Согласно приказа №303н от 03.06.2015 г. регистрация медицинских изделий 1-го класса потенциального риска
            применения проводится в 1 этап
        </p>
        <p class="col-12 text_other_page">
            Благодаря накопленному опыту, мы знаем об определенных нюансах, которые могут возникнуть в процессе
            оформления документации в регистрирующих органах и затормозить весь процесс.
        </p>
        <p class="col-12 text_other_page">
            Мы готовы ответить на все Ваши вопросы – звоните: <span class="red-number">+7 (495) 541-76-00</span>.
            Также Вы можете оставить Вашу заявку на сайте, чтобы мы могли предварительно подготовить для Вас ответ или
            информацию.
        </p>
        <div class="col-12">
            {% include 'make-offer.html' %}
        </div>

    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>