{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="{{ description }}">
    {% include 'styles.html' %}
    <!--<link rel="stylesheet" href="{% static 'css/index.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/other.css' %}">
    {% include 'scripts.html' %}
</head>
<body>
{% include 'menu.html' %}
<div class="header_page">
    <h1 class="col-12 text-center header">
        <span class="square_top">
            <img src="{% static 'img/square_top.svg'%}" alt="">
        </span>
        Спортивное питание
        <span class="square_bottom">
            <img src="{% static 'img/square_bottom.svg'%}" alt="">
        </span>
    </h1>
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb mb-0">
                <ol class="breadcrumb mb-0 py-0">
                    <li class="breadcrumb-item"><a href="#">Главная</a></li>
                    <li class="breadcrumb-item"><a href="#">Спортивное питание</a></li>
                </ol>
            </nav>
        </div>
    </div>
</div>

<div class="container">
    <div class="row content_other_page">


        <div class="col-12 col-sm-4">
            <img src="{% static 'img/005.jpg' %}" alt="" class="img-fluid">

            <p class="red-text mt-3">НАШИ УСЛУГИ</p>
            <ul class="list_services">
                <li>
                    <a href="registratsiya-lekarstvennykh-sredstv"><img src="{% static 'img/red_arrow.svg' %}" alt="" class="img_services">РЕГИСТРАЦИЯ</a>
                </li>
                <hr>
            </ul>

        </div>


        <div class="col-12 col-sm-8">

            <p class="col-12 text_other_page">
                Спортивное питание – это специализированная пищевая продукция для быстрого восполнения человеческого
                организма энергией после занятий спортом или других интенсивных физических нагрузок. Такое питание
                отличается повышенной калорийностью и высокой энергетической ценностью за счет заданного в нем
                сбалансированного химического состава.
            </p>
            <p class="col-12 text_other_page">Спортивное питание подлежит обязательному санитарно-эпидемиологическому
                контролю на соответствие санитарно-гигиенических нормативов. Оценка соответствия спортивного питания –
                обязательная процедура, осуществляемая в форме государственной регистрации с последующим занесением в
                Федеральный реестр и выдачей СГР (свидетельства о государственной регистрации).
            </p>
            <p class="col-12 text_other_page">Спортивное питание также нуждается в дополнительных проверках, поскольку
                разрабатывается на основе научных исследований и является не только пищевым продуктом, но и
                концентрированной смесью ингридиентов, направленных на укрепление здоровья — продукцией на грани с
                лечебными и профилактическими добавками, требующими внимания не только специалистов по сертификации, но
                и лабораторных экспертов.
            </p>
            <p class="col-12 text_other_page">Спортивное питание должно пройти не только проверку на соответствие нормам
                и стандартам безопасности, но также дополнительные проверки на возможное содержание в нем допинга, то
                есть запрещенных веществ естественного или синтетического происхождения.
            </p>
            <p class="col-12 text_other_page">
                Сертификация спортивного питания на территории ЕАЭС происходит сразу по трем техническим регламентам:
                <br>
                <a href="#" target="_blank">
                    Технический регламент ТС «О безопасности пищевой продукции» (ТР ТС 021/2011) от 09.12.2011;
                </a>
                <br>
                <a href="#" target="_blank">
                    Технический регламент ТС «Пищевая продукция в части ее маркировки» (ТР ТС 022/2011) от 09.12.2011;
                </a>
                <br>
                <a href="#" target="_blank">Технический регламент ТС «О безопасности отдельных видов специализированной
                    пищевой продукции, в том числе диетического лечебного и диетического профилактического питания» (ТР
                    ТС 027/2012) от 15.06.2012.
                </a>
            </p>
            <p class="col-12 text_other_page">
                Тем не менее, в соответствии с положениями этих регламентов, подтверждение соответствия спортивного
                питания осуществляется в форме свидетельства о государственной регистрации (СГР). Об этом уже написано
                выше. Процедура оформления СГР на спортивное питание длительная, многоэтапная и сложная, и практически
                во всех случаях требует от производителя или продавца дополнительных затрат.
            </p>
            <p class="col-12 text_other_page">
                Регистрация спортивного питания состоит из нескольких этапов:
            </p>
            <ul class="list-dash">
                <li>подготовка всей необходимой документации и подача пакета документов;</li>
                <li>прохождение экспертиз, лабораторных испытаний образцов продукции и выдача заключения после
                    завершения исследований;
                </li>
                <li>выдача Свидетельства о государственной регистрации либо Отказного письма.</li>
            </ul>
            <p class="col-12 text_other_page">
                Если в продукции используются новые элементы, добавки и технологии, они должны предварительно пройти
                отдельную процедуру регистрации.
                Спортивное питание, как и БАД, регистрируется на территории РФ в Роспотребнадзоре.
            </p>
            <p class="col-12 text_other_page">
                Мы готовы ответить на все Ваши вопросы - звоните! <span class="red-number">+7 (495) 741-10-41</span>
                Также Вы можете оставить Вашу заявку на сайте, чтобы мы могли предварительно подготовить для вас
                развернутый ответ или предоставить детальную информацию.
            </p>

            {% include 'make-offer.html' %}

        </div>
    </div>
</div>
{% include 'map.html' %}
</body>
{% include 'footer.html' %}
</html>