@font-face {
    font-family: 'Bold';
    src:  url('../fonts/SFUIText-Bold.otf');
}

@font-face {
    font-family: 'Semibold';
    src:  url('../fonts/SFUIText-Semibold.otf');
}

@font-face {
    font-family: 'Light';
    src:  url('../fonts/SFUIText-Light.otf');
}

@font-face {
    font-family: 'Regular';
    src:  url('../fonts/SFUIText-RegularItalic.otf');
}

@font-face {
    font-family: 'Calibri';
    src:  url('../fonts/Calibri.ttf');
}

.index_descriptor {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/descriptor.png");
    background-position: center;
    background-size: cover;
}

.callback {
    background-color: #212121;
    padding: 40px 50px;
}

.callback__header {
    color: white;
    font-family: Semibold;
    font-size: 16px;
}

.callback__input {
    border: 2px solid #BA3365;
}

.callback__input:hover {
    border: 2px solid #888;
}

.callback__button {
    background-color: #75042E;
    color: white;
    border: 2px solid #75042E;
}

.callback__button:hover {
    background-color: #BA3365;
    border: 2px solid #BA3365;
}

.callback__text {
    font-family: Light;
    font-size: 10px;
    color: #BA577C;
}
.content {
    background: rgb(238, 238, 238);
    background: -webkit-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: -o-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: -ms-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}



.advantages__header {
    color: #4C011D;
    font-family: Semibold;
    font-size: 24px;
}

.advantages__image {
    width: 100px;
    height: 100px;
}

.advantages__image-circles {
    margin-top: 20px;
    margin-bottom: 15px;
}

.advantages {
    padding-top: 50px;
    padding-bottom: 50px;
}

.callback-form {
    background-color: #212121;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grey_block__services {
    padding: 6px 0px;
    margin: 2px 2px;
}

.grey_block__services a {
    padding: 10px 13px;
    background-color: #ededed;
    color: #888;
    font-family: Light;
    font-size: 13px;
}

.grey_block__services a:hover {
    text-decoration: none;
    background-color: #dadada;
}

.content__services {
    margin-bottom: 30px;
}

.index_descriptor__header-white {
    color: white;
    font-family: Light;
}

.index_descriptor__header-bold {
    font-family: Bold;
}

.list-advantages {
    background-color: rgba(33, 33, 33, 0.5);
    padding: 25px 30px;
    margin-top: 60px;
}

.list-advantages p {
    color: white;
    padding-left: 40px;
}

.arrow {
    margin-left: -15px;
}

.callback-form__header {
    color: white;
    font-family: Semibold;
    font-size: 22px;
}

.callback-form__text{
    color: white;
    font-family: Light;
    font-size: 16px;
}

/*Новые стили*/
.dop_link_menu{
    font-family: Calibri;
    font-size: 22px;
    color: #2B2A29;
    margin-top: 42px;
}

.dop_link_menu a {
    color: #2B2A29;
}

.dop_link_menu a:hover {
    color: #BD2828;
    text-decoration: none;
}

.first_left {
    margin-right: -37px;
    margin-top: 62px;
}

.third_left {
    margin-top: 53px;
}

.last_left {
    margin-right: -37px;
    margin-top: 40px;
}

.first_right {
    margin-left: -37px;
    margin-top: 62px;
}

.third_right {
    margin-top: 53px;
}

.last_right {
    margin-left: -37px;
    margin-top: 40px;
}