@font-face {
    font-family: 'Calibri';
    src:  url('../fonts/Calibri.ttf');
}

.header_page {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #D9DADA;
    border-bottom: 1px solid #D9DADA;
}

.breadcrumb-item a {
    color: #BE1B20!important;
    font-family: Calibri;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #BE1B20!important;
    content: "/";
}

.content_other_page {
    padding: 45px 0px;
}

.header_other_page {
    font-family: Calibri;
    font-size: 24px;
    color: #2B2A29;
    font-weight: bold;
}

.text_other_page {
    font-family: Calibri;
    font-size: 16px;
    color: #2B2A29;
}
