@font-face {
    font-family: 'Bold';
    src:  url('../fonts/SFUIText-Bold.otf');
}

@font-face {
    font-family: 'Semibold';
    src:  url('../fonts/SFUIText-Semibold.otf');
}

@font-face {
    font-family: 'Light';
    src:  url('../fonts/SFUIText-Light.otf');
}

@font-face {
    font-family: 'Regular';
    src:  url('../fonts/SFUIText-RegularItalic.otf');
}

@font-face {
    font-family: 'Calibri';
    src:  url('../fonts/Calibri.ttf');
}

.menu {
    padding-left: 0px;
    padding-right: 0px;
}

.bg-dark {
    background-color: white!important;
}

.nav_img {
    padding-left: 0px;
}

.menu__btn_red {
    padding: 0px;
    margin: 0px;
    background-color: #75042E;
}

.menu__btn_red:hover {
    background-color: #BA3365;
}

.menu__btn_red a{
    color: white!important;
}

.my_nav li a{
    font-family: Calibri;
    font-size: 18px;
    color: #BE1B20;
    font-weight: 600;
    line-height: 1;
}

.my_nav li a:hover {
    color: #D56D71;
}

.footer {
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
}

footer p {
    color: #212121;
    font-family: Semibold;
}

.red_text {
    color: #BA3365;
}

.descriptor {
    height: 140px;
    background-color: #75042e;
    padding-top: 20px;
    padding-bottom: 20px;
}

.descriptor__header-white {
    color: white;
}

.descriptor_declarate {
    background-image: url("../img/descriptor_declarate.png");
}

.descriptor_lp {
    background-image: url("../img/descriptor_lp.png");
}

.descriptor_mi {
    background-image: url("../img/descriptor_mi.png");
}

.descriptor_bad {
    background-image: url("../img/descriptor_bad.png");
}

.index_descriptor {
    padding-top: 80px;
    padding-bottom: 80px;
    background-image: url("../img/descriptor.png");
    background-position: center;
    background-size: cover;
}

.breadcrumb_arrow {
    height: 10px;
}

.breadcrumb > li + li:before {
    color: rgb(255, 255, 255) !important;
    content: "/";
    padding: 0 5px;
}

.breadcrumb {
    background-color: transparent;
}

.breadcrumb > li > a{
    color: white;
    font-family: Light;
}

.breadcrumb > li > a:hover{
    text-decoration: none;
}

.callback {
    background-color: #212121;
    padding: 40px 50px;
}

.callback__header {
    color: white;
    font-family: Semibold;
    font-size: 16px;
}

.callback__input {
    border: 2px solid #BA3365;
}

.callback__input:hover {
    border: 2px solid #888;
}

.callback__button {
    background-color: #75042E;
    color: white;
    border: 2px solid #75042E;
}

.callback__button:hover {
    background-color: #BA3365;
    border: 2px solid #BA3365;
}

.callback__text {
    font-family: Light;
    font-size: 10px;
    color: #BA577C;
}

.content {
    background: rgb(238, 238, 238);
    background: -webkit-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: -o-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: -ms-linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    background: linear-gradient(180deg, rgb(238, 238, 238) 0%, rgb(241, 241, 241) 100%);
    padding-top: 50px;
    padding-bottom: 50px;
}

.advantages__header {
    color: #4C011D;
    font-family: Semibold;
    font-size: 24px;
}

.advantages__image {
    width: 100px;
    height: 100px;
}

.advantages__image-circles {
    margin-top: 20px;
    margin-bottom: 15px;
}

.advantages {
    padding-top: 50px;
    padding-bottom: 50px;
}

.callback-form {
    background-color: #212121;
    padding-top: 50px;
    padding-bottom: 50px;
}

.grey_block__services {
    padding: 6px 0px;
    margin: 2px 2px;
}

.grey_block__services a {
    padding: 10px 13px;
    background-color: #ededed;
    color: #888;
    font-family: Light;
    font-size: 13px;
}

.grey_block__services a:hover {
    text-decoration: none;
    background-color: #dadada;
}

.content__services {
    margin-bottom: 30px;
}

.index_descriptor__header-white {
    color: white;
    font-family: Light;
}

.index_descriptor__header-bold {
    font-family: Bold;
}

.list-advantages {
    background-color: rgba(33, 33, 33, 0.5);
    padding: 25px 30px;
    margin-top: 60px;
}

.list-advantages p {
    color: white;
    padding-left: 40px;
}

.arrow {
    margin-left: -15px;
}

.callback-form__header {
    color: white;
    font-family: Semibold;
    font-size: 22px;
}

.callback-form__text{
    color: white;
    font-family: Light;
    font-size: 16px;
}

.standart_text {
    color: #212121;
    font-family: Light;
    font-size: 16px;
}

.all_content {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white!important;
}

.italic_text {
    font-family: Light;
    font-style: italic;
    color: #888888;
}


/*Новые стили*/
.header {
    color: #BE1B20;
    font-size: 42px;
    font-family: Calibri;
    padding: 13px 0px;
    margin-bottom: 0px;
}

.shadow {
    height: 10px;
    margin-bottom: 50px;
    width: 100%;
   -webkit-box-shadow: 0px 10px 26px -7px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 10px 26px -7px rgba(0,0,0,0.55);
    box-shadow: 0px 10px 26px -7px rgba(0,0,0,0.55);
}

.bold_text {
    font-weight: bold;
}

.square_top img{
    margin-top: -32px;
    margin-right: 32px;
}

.square_bottom img{
    margin-bottom: -32px;
    margin-left: 32px;
}

.white_block {
    background-color: #EBECEC;
    padding-top: 25px;
    padding-bottom: 25px;

}

.grey_block {
    background-color: #f8f7f7;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.white_block__header {
    font-family: Calibri;
    font-size: 24px;
    color: #BE1B20;
}

.white_block__text {
    font-family: Light;
    color: #555555;
    font-size: 16px;
}

.text_about {
    font-family: Calibri;
    font-size: 18px;
    color: #2B2A29;
}

.small_header {
    font-family: Calibri;
    font-size: 22px;
    color: #2B2A29;
}

.input__form {
    width: 195px;
    height: 35px;
    border: 2px solid #BE1B20;
    margin-bottom: 5px;
    padding-left: 10px;
}

.textarea__form {
    width: 375px;
    height: 115px;
    border: 2px solid #BE1B20;
    margin-bottom: 5px;
    padding-left: 10px;
}

.text_agree {
    font-family: Calibri;
    font-size: 12px;
    line-height: 1;
    text-align: center!important;
    padding-left: 250px;
    padding-right: 0px!important;
}

.btn__form {
    width: 375px;
    background-color: #B48383;
    color: white;
    font-family: calibri;
    font-weight: 500;
    font-size: 18px;
    border-radius: 0px;
    margin-top: -7px;
    padding: 4px 12px;
}

.navbar-toggler {
      background-color: #bd2929;
}

.nav-link {
    display: block;
    padding: 0.5rem 0.5rem;
}

.menu {
    display: flex;
    justify-content: flex-end!important;
}

.dropdown-item {
  padding: 10px 10px;
  border-bottom: 1px solid #ededed;
}

.dropdown-menu {
    padding-top: 0px;
    padding-bottom: 0px;
}

.modal-content {
    padding: 10px 15px 20px 15px!important;
}

.modal-content p {
    line-height: 1;
    font-size: 19px;
}

.modal-content input {
    margin-bottom: 8px;
}

.modal-content .bnt_send_form{
    background-color: #be1b20;
    color: white;
}
.modal-content .bnt_send_form:hover {
    background-color: #D56D71;
}

.callback_phone {
    position: fixed;
    right: 45px;
    bottom:45px;
    z-index: 100;
}


@media (max-width: 575px) {
    .callback_phone {
        position: fixed;
        right: 25px;
        bottom: 25px;
    }

    .navbar {
        border-bottom: 1px solid #ededed;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05) !important;
    }

    .header {
        padding: 25px 0px;
    }

    .nav-item, .dropdown-menu {
      width: 100%;
    }

    .square_top img, .square_bottom img{
        margin-right: 10px;
        margin-left: 10px;
    }

    .dop_link_menu {
        margin-top: 15px!important;
    },

    .left-dop-content p{
        margin-left: 0px!important;
        margin-right: 0px!important;
    }

    .first_left, .last_left, .first_right, .last_right {
        margin-right: 0px!important;
        margin-left: 0px!important;
    }

    .content__services {
        margin-left: 15px;
    }

    .callback-form__mobile input {
        border: 2px solid #be1b20;
        margin-bottom: 6px;
    }

    .callback-form__mobile > .form_btn {
        background-color: #be1b20;
        margin-bottom: 16px;
        color: white;
        font-weight: 600;
    }

    .callback-form__mobile > .form_btn:hover {
        background-color: #D56D71;
    }
}
