{% load static %}
<footer class="footer">
    <div>
        <a href="#" data-toggle="modal" data-target=".bd-example-modal-sm" class="callback_phone" style=""><img src="{% static 'img/phone.svg' %}" alt=""></a>
    </div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <p class="col-12 col-sm-4 mb-0 text-center text-sm-left">© 2018 ООО ДЛН</p>
            <p class="col-12 col-sm-4 mb-0 text-center">Тел: <span class="red_text">+7 (495) 741-10-41</span><br>E-mail: <span class="red_text">info@centr-dln.ru</span></p>
            <p class="col-12 col-sm-4 mb-0 text-center text-sm-right white_text"> г. Москва, Ярославское шоссе, д. 146, <br>корпус 2, 16 этаж, офис 1627</p>
        </div>
    </div>
</footer>