{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample07">
      <ul class="d-flex align-items-center nav nav-fill w-100 my_nav">
          <li class="nav-item">
              <a class="nav-link nav_img" href="/"><img src="{% static 'img/logo.jpg' %}" alt=""></a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown_reg" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">РЕГИСТРАЦИЯ</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_reg">
                  <a class="dropdown-item" href="lekarstvenie-sredstva">Лекарственные средства</a>
                  <a class="dropdown-item" href="registratsiya-lekarstvennykh-sredstv-rf">Медицинские изделия РФ</a>
                  <a class="dropdown-item" href="vnesenie-izmeneniy">Внесение изменений</a>
                  <a class="dropdown-item" href="bad">БАД</a>
                  <a class="dropdown-item" href="cosmeticheskie-sredstva">Косметические средства</a>
              </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown_lic" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">ЛИЦЕНЗИРОВАНИЕ</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_lic">
                  <a class="dropdown-item" href="litsenzirovanie-medicinskoi-tehniki">Медицинская техника</a>
                  <a class="dropdown-item" href="litsenzirovanie-lekarstvennykh-sredstv">Лекарственные средства</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="deklarirovanie-and-sertifikatsiya">ДЕКЛАРИРОВАНИЕ <br>и СЕРТИФИКАЦИЯ</a>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdown_smk" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">СМК</a>
              <div class="dropdown-menu" aria-labelledby="dropdown_smk">
                  <a class="dropdown-item" href="sertifikatsiya-eeu">Медицинская техника</a>
                  <a class="dropdown-item" href="sertifikatsiya-iso">Лекарственные средства</a>
              </div>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="dokumenti">ДОКУМЕНТЫ</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="contact">КОНТАКТЫ</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#">+7 (926) 094-75-77</a>
          </li>
      </ul>
    </div>
  </div>
</nav>

<div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="callbackModal">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
        <button type="button" class="close text-right" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
        <p class="col-12 text-center small_header">Задайте вопрос или оставьте заявку и наш менеджер свяжется с вами</p>
        <div class="col-12 callback-form__mobile">
          <input class="form-control" type="text" placeholder="Ваше имя" id="client_name">
          <input class="form-control" type="text" placeholder="Телефон или e-mail" id="client_phone">
          <!--<input class="form-control" type="text" placeholder="Ваш e-mail">-->
            {% csrf_token %}
          <button class="btn form_btn w-100 bnt_send_form" data-url="{% url 'message' %}">Отправить</button>
            <div class="text-center success_message d-none">
                <p class="text-success">Ваше сообшение успешно отправлено!</p>
            </div>
            <div class="text-center error_message d-none">
                <p class="text-danger">Произошла ошибка. Пожалуйста, попробуйте немного позднее.</p>
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    $(function() {

	function sendMessage (name, phone, where, csrf_token){
	    let data = {
	        name: name,
            phone: phone,
            csrfmiddlewaretoken: csrf_token
        };
	    console.log(data);
        $.ajax({
            url: where,
            data: data,
            dataType: 'json',
            method: 'POST'
        });
    }

    $(document).ajaxComplete(function(data, data2){
        console.log('done function', data, 'done function ', data2.statusText);
        if (data2.statusText == 'OK') {
            $('#client_name').val('');
            $('#client_phone').val('');
            $('#client_name').addClass('d-none');
            $('#client_phone').addClass('d-none');
            $('.bnt_send_form').addClass('d-none');
            $('.small_header').addClass('d-none');
            $('.success_message').removeClass('d-none');
        } else {
            $('#client_name').val('');
            $('#client_phone').val('');
            $('#client_name').addClass('d-none');
            $('#client_phone').addClass('d-none');
            $('.bnt_send_form').addClass('d-none');
            $('.small_header').addClass('d-none');
            $('.error_message').removeClass('d-none');
        }
    });

	$('#callbackModal').on('hidden.bs.modal', function() {
	    $('#client_name').removeClass('d-none');
        $('#client_phone').removeClass('d-none');
        $('.bnt_send_form').removeClass('d-none');
        $('.small_header').removeClass('d-none');
        $('.error_message').addClass('d-none');
        $('.success_message').addClass('d-none');
    });

    $('.bnt_send_form').on('click', function () {
        let name = $('#client_name').val();
        let phone = $('#client_phone').val();
        let where = $(this).data('url');
        let csrf_token = $('[name=csrfmiddlewaretoken]').val();

        (name == '') ? $('#client_name').addClass('is-invalid') : $('#client_name').removeClass('is-invalid');
        (phone == '') ? $('#client_phone').addClass('is-invalid') : $('#client_phone').removeClass('is-invalid');
        if ((name != '') && (phone != '')) {
            sendMessage(name, phone, where, csrf_token);
        }
    });
});
</script>
